<!DOCTYPE html>
<html>
<head>
         <title>forgot password</title>
         
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br>
    <center>
       
        <h3 style=" font-size: 25px;">Forgot Your Password </h3>
        
    <form method="POST">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <div class = "form-group">
            <p style="margin-bottom: 15px;">
            <input type="text" id="uname" name="uname" placeholder="enter your username" required>
            <input type="hidden" name="alertd" id="alertd" value='{{a}}'>
        </p>
            
            <input type="submit" name="Subscribe" >
                </div>
            </form>
            
            <p style="margin-top: 15px;">to Login click <a href="login"> here</a></p>
        </center>
        <br><br>
        {% include "footer.html" %}
    <script> 
    var a = document.getElementById('alertd').value;
        if (a=='a')
        {
            alert("username Doesn't Exits");
        }
        if (a=='b')
        {
            alert("Password sent to your email successfuly please check your mail");
            window.location.href = "login";
        }
        
    </script>    
</body>
</html>