<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Delete</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <style>
        .content{
            margin-top: 10%;
            margin-left:40%;
        }
        .ui-autocomplete {
            cursor: pointer;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 200px;
        }
    </style>
    
</head>
<body>
    {% include "header.html" %}
   
    

    <div class="content">
    <form action='itemdelete' method="GET">
        <label name="itemname">Item name : </label> &nbsp;&nbsp;&nbsp;
        <input type="text" id ="iname" name="iname"><br><br>
        
        <input type="button" value="Delete" onclick="btnclick()"> 
        
    </form>

    </div>
    <table style="border:1px solid black; width:100%; border-collapse:separate; border-spacing:0 15px;text-align: center" id="example" class="display">
        <thead>
        <tr>
            <th>Sr.no</th>
            <th>Item name</th>
            <th>Item Category</th>
            
        </tr>
    </thead>
    <tbody>
        {% for i, j in  listofitems %}
        <tr>
            <td></td>
            <td>{{i}}</td>
            <td>{{j}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% include "footer.html" %}
    

    <input type="hidden" id="hiddenid" value={{id}}>
    <script>

        $(document).ready(function() {
            $('#example').DataTable({
                "fnRowCallback" : function(nRow, aData, iDisplayIndex){
                    $("td:first", nRow).html(iDisplayIndex +1);
                    return nRow;
                },
            });
        } );
        
        function btnclick(){
            window.location.href="itemdelete?id="+document.getElementById('hiddenid').value+"&iname="+document.getElementById('iname').value
          }
        $(function(){
              
            $("#iname").autocomplete({
                source: '/itemdeletelist?id='+document.getElementById('hiddenid').value,
                minLength: 0,
                scroll: true,
        
                select: function (event, ui) {
                    
                
                }
        
            }).focus(function () {
                $(this).autocomplete("search", "");
            });

        });
    </script>
</body>
</html>